body {
    font-family: Arial, Helvetica, sans-serif;
}
* {
    box-sizing: border-box;
}
/*Add Font*/
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@600&display=swap');
/*Naviagtor*/
ol {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color:  rgb(190, 105, 119);
    opacity: 0.8;
    z-index: -1;
}

li {
    float: left;
}

li a {

    display: inline-flex;
    color: white;
    text-align: center;
    background-color:  rgb(190, 105, 119);
    padding: 14px 16px;
    font-weight: bolder;
    text-decoration: none;
    opacity: 0.8;
}
/* button shape*/
button {
    border-radius: 10px;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
    background-color: rgb(190, 105, 119);
    color: white;
    transform: scale(1.2,1.2);
    opacity: 1;
    transition-duration: 0.25s;
    font-weight: bolder;
    text-decoration: none;
  }
/* Button used to open the contact form - fixed at the bottom of the page */
.open-button {
    background-color: rgb(190, 105, 119);
    color: white;
    padding: 16px 20px;
    font-weight: bolder;
  border: none;
  cursor: pointer;
  opacity: 0.8;
  position: fixed;
  bottom: 23px;
  right: 28px;
  width: 280px;
  border-radius: 5px;
  -webkit-animation-name: jiggle;
  -webkit-animation-duration: 3s;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: ease-in-out;
  -webkit-animation-play-state: running;
}

.form-popup {
    display: none;
    position: fixed;
    bottom: 0;
    right: 15px;
    border: 3px solid #f1f1f1;
    z-index: 1;
    justify-content: space-around;
    width: 300px;
    -webkit-animation-name: slideIn; /* Fade in the background */
    -webkit-animation-duration: 1.2s;
}
/* Add styles to the form container */
.form-container {
    max-width: 300px;
    padding: 10px;
    background-color: white;
  }
/* Full-width input fields */
.form-container input {
    width: 80%;
    padding: 10px;
    margin: 5px 0 22px 0;
    border: none;
    display: inline-block;
    background: inherit;
    border: 0;
    border-bottom: 2px solid;
    text-align: center;
  }
  /* Form Header*/
  .form-container h1 {
    padding: 15px;
    font-size: 150%;
    font-family: 'Open Sans', sans-serif;
  }
  /* When the inputs get focus, do something */
.form-container input:focus {
    outline: none;
    width: 100%;
    transition: all 0.3s;
  }
/* Set a style for the submit/login button */
.form-container .btn {
    background-color: rgb(255, 143, 161);
    color: white;
    padding: 16px 20px;
    border: none;
    cursor: pointer;
    width: 100%;
    margin-bottom:10px;
    opacity: 0.8;
    font-weight: bolder;
  }
.form-container .btn:hover, .open-button:hover {
    opacity: 1;
    color: white;
  }
  /* Style Login field */
  .form-container label {
    display: block;
    padding-top: 20px;
    font-family: 'Open Sans', sans-serif;
    text-align: center;
    letter-spacing: 2px;
    font-size: 18px;
    line-height: 20px;
  }
  .form-container .label-text {
    transform: translateY(-260%);
    cursor: text;
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
  }
  .form-container input:focus + .label-text {
    transform: translateY(-430%); 
    font-size: 14px;
    transition: all 0.3s;
  }
  .value-exists + .label-text {
    transform: translateY(-430%); 
    font-size: 14px;
  }

/* Add Animation */
@-webkit-keyframes slideIn {
    from {bottom: -300px; opacity: 0} 
    to {bottom: 0; opacity: 1}
}

@keyframes slideIn {
    from {bottom: -300px; opacity: 0}
    to {bottom: 0; opacity: 1}
}

@-webkit-keyframes fadeIn {
    from {opacity: 0} 
    to {opacity: 1}
}

@keyframes fadeIn {
    from {opacity: 0} 
    to {opacity: 1}
}
@-webkit-keyframes jiggle {
  48%, 62% {
    transform: scale(1.0, 1.0)
  }
  50% {
    transform: scale(1.1, 0.9)
  }
  56% {
    transform: scale(0.9, 1.1) translate(0, -5px)
  }
  59% {
    transform: scale(1.0, 1.0) translate(0, -3px)
  }
}

@keyframes jiggle {
  33% {transform: scaleX(1);}
  55% {transform: translate(0, 0);} 
  78% {transform: scaleY(1);}
}
@keyframes mymove {
  0%   {top: 0px;}
  25%  {top: 200px;}
  75%  {top: 50px}
  100% {top: 100px;}
}